@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
    color: #75B79E;
}

.jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 56px;
    font-weight: bold;
}

.baralho {
    margin: 0 auto;
}

.baralho {
	transition: transform 0.8s;
	position: relative;
}

.frente, .verso {
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #99CEA8;
    position: absolute;
    backface-visibility: hidden;
}

.verso {
    transform: rotateY(180deg);
}

.baralho:hover .card{
    transform: rotateY(180deg);
}

.card {

}

.card img {
    width: 100px;
    height: 100px;
}